@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


.Mern{
    height:100%;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom:7%;
}
.Mern-header{
    padding-top: 7%;
}

.Mern-header h2{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 38px;
}

.Mern-header p{
    text-align: center;
    font-size: 16px;
}

.Mern-image{
    margin-right:30px;
}

.Mern-image img{
    width: 700px;
    height: 500px;
}

.Mern-body{
    margin-top:5%;
    margin-left:20%;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* 
.Shoes-content{

} */

.Mern-title p{
    font-size: 16px;
    font-weight: bold;
}

.Mern-Sub p{
    font-size: 14px;
}

.Mern-bottom{
    display: flex;
    margin-top: 80px;
}
.Mern-bottoms{
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
}

.imageRender{
    width: 80px;
    height: 80px;
    margin-left:20px;
    cursor: pointer;
}

.imageRender:hover{
    width:90px;
    height: 90px;
}